/* ===========================
   HEADER
=========================== */

.site-header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:#ffffff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 60px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

    z-index:1000;

}

.logo{

    height:70px;

    width:auto;

}

.site-header nav{

    display:flex;

    gap:35px;

}

.site-header nav a{

    text-decoration:none;

    color:#333;

    font-size:17px;

    font-weight:600;

    transition:.3s;

}

.site-header nav a:hover{

    color:#6d1f45;

}

.hero{

    margin-top:105px;

    min-height:85vh;

    background:linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),

    url('https://images.unsplash.com/photo-1460317442991-0ec209397118?auto=format&fit=crop&w=1800&q=80');

    background-size:cover;

    background-position:center;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    padding:50px;

}
